---
import financialTitle from '@public/assets/financial-title.svg'
import rocket from '@public/assets/rocket.svg'
import inbox from '@public/assets/inbox.png'
import document from '@public/assets/document.png'
import Typography from '../ui/Typography.astro'
import heroCloud from '@public/assets/hero-cloud.png'
import MotionNumber from '../ui/MotionNumber'
import dashedOrangeLine from '@public/assets/dashed-orange-line.svg';
import dashedUpLine from '@public/assets/dashed-up-line.svg';
import dashedBottomLine from '@public/assets/dashed-bottom-line.svg';
---
<section class="container grid max-w-4xl text-nowrap gap-20 mx-auto">
    <img data-aos="zoom-in" data-aos-delay="600" src={financialTitle.src} class="place-self-center w-[550px] pb-10" alt="Financial title"/>
    <div data-aos="fade-left" data-aos-delay="600" class="grid grid-cols-[1fr,0.5fr,1fr] gap-10 place-items-center divide-yellow">
        <div class="items-center gap-3 ">
            <div class="grid gap-8">
                <div class="grid gap-3">
                    <Typography as="h1" class="text-orange text-5xl">Facturación <span class="text-yellow">digital</span><br/> <span class="font-light text-3xl">por</span> WhatsApp</Typography>
                    <Typography class="text-sm">
                        Enviar facturas en formato PDF y que los <span class="font-black italic">usuarios puedan cancelarlas <br/>
                        a través del WhatsApp</span> con el portal de <span class="font-black italic">pagos con cuentas <br/>
                        previamente inscritas.</span>
                    </Typography>
                </div>
                <div class="grid gap-3">
                    <Typography as="h2" class="px-3 py-1 bg-yellow w-fit rounded-full">Impacto</Typography>
                    <Typography>
                        Aumentar el envío de facturas y pago a través de<br/>
                        canales digitales
                    </Typography>
                </div>
            </div>
        </div>
        <div class="bg-yellow w-1 h-36"/>
        <div class="grid place-items-center place-self-center justify-self-start gap-8 items-center">
            <img src={document.src} alt="Document image" />
            <Typography as="h1" class="text-yellow text-3xl/8">
                <span class="text-[80px]">
                    <MotionNumber from={50} to={46} duration={2} client:only />%
                </span><br/>
                EJECUCIÓN
            </Typography>
        </div>
    </div>
</section>
<section class="container grid max-w-4xl text-nowrap gap-20 mx-auto relative">
    <div data-aos="zoom-in" data-aos-delay="300" class="grid text-center gap-3 relative">
        <Typography as="h1" class="text-orange leading-snug text-5xl/10">
            <span class="text-celeste font-normal text-4xl">Optimización proceso de</span> <br/>
            Indexación masiva<br/> 
            <span class="font-light text-3xl text-celeste">en sistema</span> <span class="text-celeste">DocuWare</span></span>
        </Typography>
        <Typography class="text-sm">
            Mejorar el proceso de digitalización de la información de usuarios <span class="font-bold italic">generando <br/>
            automatizaciones nuevas y eliminando aplicativos tecnológicos obsoletos</span> <br/>
            como validación y microcolsa
        </Typography>
    </div>
    <div data-aos="zoom-in" data-aos-delay="300" class="grid grid-cols-[1fr,0.5fr,1fr] relative gap-10 place-items-center divide-yellow">
        <div class="grid place-items-center place-self-end gap-3 items-center">
            <Typography as="h1" class="text-orange text-[115px]/[2.5rem] relative">
                <MotionNumber from={46} to={70} duration={2} client:only />% <br/>
                <span class="text-[43px]">EJECUCIÓN</span>
                <img src={dashedOrangeLine.src} class="absolute -top-60 left-0 h-44" alt="Dashed orange line" />
            </Typography>
        </div>
        <div class="bg-yellow w-1 h-36"/>
        <div class="grid gap-3 place-self-start">
            <Typography as="p" class="font-black w-fit bg-celeste py-1 px-3 place-self-center rounded-full">Impacto</Typography>
            <Typography class="text-center text-sm">
                Eficiencias en horas hombre y<br/>
                ahorro por alquiler de aplicativos.<br/>
                Disponibilidad de información<br/>
                para todos los procesos.
            </Typography>
        </div>
    </div>
    <img src={rocket.src} alt="Rocket" class="absolute -bottom-40 -right-20 scale-x-[-1] w-[270px]"/>
</section>
<section class="container grid max-w-4xl place-items-center text-nowrap gap-20 mx-auto relative">
    <div data-aos="fade-left" data-aos-delay="600" class="grid text-center gap-3">
        <Typography as="h1" class="text-celeste leading-snug text-5xl/10">
            <span class="text-yellow text-4xl">Rediseño del modelo de</span> <br/>
            Excelencia Operativa<br/> 
            <span class="font-light text-3xl text-yellow">teniendo en cuenta</span> <span class="text-yellow">agilismo</span>
        </Typography>
        <div class="bg-celeste w-[450px] h-[3px]"></div>
        <Typography as="p" class="text-celeste text-2xl font-light">
            (Cadenas de Valor y Procesos soporte)
        </Typography>
    </div>
    <div data-aos="fade-down-left" data-aos-delay="600" class="grid grid-cols-[1fr,100px,1fr] divide-yellow">
        <Typography class="text-right">
            Rediseño para volver nuestras cadenas de <br/>
            valor (11) y <span class="text-celeste italic font-black">procesos más agiles y eficientes.</span> <br/>
            En algunos casos, aplicando metodologías ágiles. <br/>
            Tiene un periodo <span class="text-celeste italic font-black">aproximado de</span> <br/>
            <span class="text-celeste font-black italic">implementación de 3 años</span> deben quedar <br/>
            14 elementos iniciales en el 2024. 
        </Typography>
        <div class="bg-celeste w-[2px] h-[120px] place-self-center"/>
        <div data-aos="zoom-in" data-aos-delay="300" class="grid gap-3 items-center">
            <Typography class="text-left text-yellow">
                <span class="text-yellow font-black italic">Fase 1: Rediseño, socialización, priorización <br/>
                de elementos, diagnóstico, definición y <br/>
                ejecución de planes. <br/></span>
                <span class="text-white not-italic">Actualmente en ejecución de planes.</span>
            </Typography>
        </div>
    </div>
    <div class="grid gap-10">
        <div data-aos="fade-up" data-aos-delay="600">
            <Typography as="h1" class="text-celeste leading-snug text-6xl">
                <MotionNumber from={70} to={83} duration={2} client:only />% EJECUCIÓN
            </Typography>
        </div>
        <div data-aos="fade-up" data-aos-delay="600" class="grid gap-3">
            <Typography as="p" class="font-black w-fit bg-yellow py-1 px-3 place-self-center rounded-full">Impacto</Typography>
            <Typography class="text-center font-light">
                Buscamos agilidad, procesos más simples y disminución <br/>
                de quejas y aumento de satisfacción del cliente (NPS) <br/>
                en un plazo aproximado de 3 años.
            </Typography>
        </div>
    </div>
</section>

<section data-aos="fade-right" data-aos-delay="600" class="container grid max-w-4xl text-nowrap gap-8 mx-auto relative">
    <Typography  as="h1" class="text-orange w-fit leading-snug text-5xl font-light relative">
        Autogestión de <br/>
        <span class="font-bold text-7xl">incapacidades</span>
        <img src={dashedUpLine.src} class="absolute top-28 w-28 -right-64" alt="Dashed up line"/>
    </Typography>
    <Typography>
        Autogestión de incapacidades y gestión del cobro de cartera para <br/>
        la <span class="text-celeste italic font-bold">recuperación de los valores de incapacidades.</span> Se busca lograr en <br/>
        los tiempos objetos <span class="text-celeste italic font-bold">contar con la información y documentación de <br/>
            la información de ausentismo y cumplir con los requisitos legales.</span> <br/>
        Hoy se evalúa la opción con Docuware.
    </Typography>
    <div data-aos="zoom-in" data-aos-delay="600" class="grid grid-cols-2 place-items-center">
        <div class="grid relative">
            <Typography as="h1" class="text-orange text-[115px]/[2.5rem]">
                <MotionNumber from={83} to={55} duration={2} client:only />% <br/>
                <span class="text-[43px]">EJECUCIÓN</span>
            </Typography>
            <img src={dashedBottomLine.src} class="absolute -bottom-36 h-28 -right-36" alt="Dashed up line"/>
        </div>
        <div class="grid grid-cols-2 justify-items-center place-items-center">
            <img src={inbox.src} alt="Inbox image" class="w-[160px]"/>
            <div class="grid gap-3">
                <Typography as="p" class="font-black w-fit bg-celeste py-1 px-3 place-self-start rounded-full">Impacto</Typography>
                <Typography class="text-left font-light">
                    Reducir la cartera por gestión <br/>
                    de incapacidades. <br/>
                    Reducir errores manuales al <br/>
                    momento de digitación. <br/>
                    Disminuir horas hombre <br/>
                    en la digitación.
                </Typography>
            </div>
        </div>
    </div>
    <img data-aos="zoom-in" data-aos-delay="600" src={heroCloud.src} class="place-self-center mt-20 h-96" alt="Hero cloud" />
</section>
